#hed{
    color: crimson;
}
body{
    background-image: linear-gradient( to top left,gold 50%,brown 50%,yellow);
    color: midnightblue;
    background-attachment: scroll;
}
@keyframes ani{
5%{color: rgb(237, 17, 237);}
2%{color: rgb(249, 231, 73);}
5%{color: rgb(85, 255, 0);}
7%{color: rgb(148, 43, 2);}
5%{color: crimson;}
5%{color:cyan;}
4%{color: darkgoldenrod;}
3%{color: gold;}
5%{color:darksalmon;}
3%{color: lime;}
}
.ani{
    animation-name: ani;
    animation-duration: 20s;
}
div.{
    background-image: url(wild.png);
    background-repeat: no-repeat;
}
